////////////////////////////
//Leverage Bootstrap SASS...
////////////////////////////
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


///////////////////////////////////////
// Scale images based on breakpoints
///////////////////////////////////////
@include media-breakpoint-down(lg) {
  #head-shot {
    transform: scale(.75);
  }

  #better-cash-flow-logo {
    transform: scale(.75);
  }

  div[class^="project-"] img{
    transform: scale(.75);
  }
}
@include media-breakpoint-down(md) {
  #head-shot {
    transform: scale(.5);
  }

  #head-shot, #better-cash-flow-logo {
    transform: scale(.5);
  }

  div[class^="project-"] img{
    transform: scale(.5);
  }
}

@include media-breakpoint-down(xs) {
  #head-shot, #better-cash-flow-logo {
    transform: scale(.3);
  }
  div[class^="project-"] img{
    transform: scale(.3);
  }
}

@include media-breakpoint-up(xl) {
  #head-shot, #better-cash-flow-logo {
    transform: scale(1);
  }
}

body {
 // background: #aaf9ef;  // picked from the water...
  background: #e2f7fd; // picked from the sky
  font-family: Muli, sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.container{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-botton: 25px;
}

.img-fill {
  display: block;
  width: 100%;
  height: auto;
}
#banner-image {
  margin-top: 75px;
};

#head-shot {
  border: 10px solid white;
  border-radius: 100%;
  margin-top: -105px;
  width: 200px;
  float:right;
}

//////////////////////////////////////////
// CSS Grid to layout the site
/////////////////////////////////////////

.grid-container {
    display:grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "header header"
    "featured featured"
    "other other"
    "project1 project2"
    "project3 project4"
    "footer   footer";
}


.intro-header {
  grid-column: header-start / header-end;

}

.featured-wrapper {
  grid-column: featured-start / featured-end;
  grid-row-end: featured-end;

}

#other-samples {
  grid-column: other-start / other-end;
  grid-row-end: other-end;
}

.project1 {
  grid-column: project1-start / project1-end;
  grid-row: project1-end;
}

.project2 {
  grid-column: project2-start / project2-end;
  grid-row: project2-end;
}

.project3 {
  grid-column: project3-start / project3-end;
  grid-row: project3-end;
}

.project4 {
  grid-column:  project4-start / project4-end;
  grid-row: project4-end;
}

.contact-wrapper {
  grid-column: footer-start / footer-end;
  grid-row-end: footer-end;
}

//////////////////////////////////////////
// Hover Effect on Project Sample Blocks
/////////////////////////////////////////

.project {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.project img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit:scale-down;
}

.project .overlay {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  transition: .5s ease;
  /* transform: translateY(100%); */
  opacity: 0;
  display: grid;
  justify-items: center;
  align-items: start;
}

.project-1, .project-2, .project-3, .project-4 {
  opacity: 1;
  display: grid;
  align-items: start;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project:hover {
  .img-fill {
    opacity: 0.1;
  }
}

.project:hover .overlay {
  opacity: 1;
}

//////////////////////////////////////////
// Rise Effect on Contact Methods
/////////////////////////////////////////
.rise:hover {
  transform: translateY(-10%);
  transition: .1s ease;
}
