extends layout
block content
    
    img.img-fluid.img-fill.rounded#banner-image(src="/images/resizedBostonHarbor3.jpg")
    img.img-fluid#head-shot(src="/images/scott_headshot.jpg")
    h2 Hi, I'm Scott 
    p I'm a Full Stack Web Developer with previous experience in enterprise systems.  I grew up in a small town just outside of Boston and have been living in Atlanta since 1995.  It's a great place to live and I absolutely love it here.
    p I've kept close to technology and have always been interested in doing more programming and application development.  In July 2017 I decided to go "full bore" and enrolled in DigitalCrafts's intensive, 16-week bootcamp program.  I graduate in January 2018 and 
      span(style='font-weight:bold') I want to continue building great things in software.
    h3#featured Featured Project:  meterMiser
    .featured-wrapper
      .featured.text-center#meter-miser-logo
        img(src="/images/MeterMiserLogo.png" alt="meterMiser logo")
      p meterMiser is a mobile-first web application that keeps small business owners  from wasting money on heating and cooling costs.  This project grew out of a real need for my wife's business.
      p.text-center Watch the video below for a walkthrough of the app to see some key features in action.  You can click on the Octocat to explore the project on Github.
        a(href="https://github.com/mcfarland422/MeterMiser_v2" target="_blank") 
          img(src="/images/resizedOctocat.png" alt="access code on Github")
      .featured-split.text-center
        .featured-split-video
          img(src="/images/resizedVerticalTwilio.png" alt="text response screenshot")
        .featured-split-code
          .cp_embed_wrapper
            iframe#cp_embed_featured.cp_embed_iframe(src="//codepen.io/sandersonga/embed/dZJwgp?height=427&amp;theme-id=28433&amp;slug-hash=awoEXr&amp;default-tab=js%2Cresult&amp;user=sandersonga&amp;embed-version=2&amp;pen-title=meterMiser" scrolling="no" frameborder="0" width=550 height=427 allowtransparency="true" allowfullscreen="true" name="CodePen Embed" title="meterMiser" overflow=" hidden")
    .portfolio-wrapper
      .portfolio#portfolio
        h3 Other Sample Projects 
        p Here's a set of sample projects.  If you have any feedback or would like to know about some other things I've done, just let me know!  My contact info can be found at the top and the bottom of this page.
        
        .row
          .project.sample-project1.col-sm-6
            .project-1
              img.fluid(src="/images/resizedMeterMiserLocations.png")
            .overlay
              a(href="https://github.com/mcfarland422/MeterMiser_v2" target="_blank") 
                img(src="/images/resizedOctocat.png" alt="access code on Github")
              h3 meterMiser:  Locations View 
              p Technologies used: javascript, HTML, CSS, Google API, Honeywell API
              p Favorite Features: real-time temp request with utility function, use of Google boundaries to set zoom level
          .project.sample-project2.col-sm-6
            .project-2
              img.fluid(src="/images/tictactoe.png")
            .overlay
              a(href="https://github.com/YankeeSoccerNut/tictactoe" target="_blank") 
                img(src="/images/resizedOctocat.png" alt="access code on Github")
              h3 Tic Tac Toe 
              p Technologies used: HTML, javascript, CSS
              p Favorite Features:  nod to War Games, beginnings of computer 'intelligence' 
          .project.sample-project3.col-sm-6
            .project-3
              img.fluid(src="/images/resizedBlackjack.png")
            .overlay
              a(href="https://github.com/YankeeSoccerNut/blackjack" target="_blank") 
                img(src="/images/resizedOctocat.png" alt="access code on Github")
              h3 Blackjack 
              p Technologies Used: HTML, javascript, CSS
              p Favorite Features: Card Flip, Double-Down and Insurance  
          .project.sample-project4.col-sm-6
            .project-4
              img.fluid(src="/images/spaceEvader.png")
            .overlay
              a(href="https://github.com/YankeeSoccerNut/spaceEvader" target="_blank") 
                img(src="/images/resizedOctocat.png" alt="access code on Github")
              h3 spaceEvader 
              p Technologies Used: Python, pygame
              p Favorite Features: multi-channel sound, Vader transistion to "hunted" on Yoda light saber collision
    .contact-wrapper.text-center
      .contact#contact
        h2 Get In Touch with Scott Anderson
        p You can reach me across a variety of social media.  The best is email or LinkedIn.  Checkout my GitHub account to see what I'm working now.  My current resume is also available.
        .contact-buttons
          a(href="mailto:yankeesoccernut@gmail.com")
            img.img-fluid(src="images/email-grey.png" data-toggle="tooltip" title="Email")
          a(href="https://www.linkedin.com/in/scottandersonga/")
            img.img-fluid(src="images/linkedIn-grey.png" data-toggle="tooltip" title="LinkedIN")
          a(href="https://github.com/YankeeSoccerNut")
            img.img-fluid(src="images/github-grey.png" data-toggle="tooltip" title="GitHub")
          a(href="/public/scottanderson.pdf")
            img.img-fluid(src="images/pdf-grey.png" data-toggle="tooltip" title="Resume")
