extends layout
block content
  .grid-container
    .intro-header  
      img.img-fluid.img-fill.rounded#banner-image(src="/images/resizedBostonHarbor3.jpg")
      img.img-fluid#head-shot(src="/images/scott_headshot.jpg")
      h2 Hi, I'm Scott 
      p I'm a Full Stack Web Developer with previous experience in enterprise systems.  I grew up in a small town just outside of Boston and have been living in Atlanta since 1995.  It's a great place to live and I absolutely love it here.
      p I've kept close to technology and have always been interested in doing more programming and application development.  In July 2017 I decided to go "full bore" and enrolled in DigitalCrafts's intensive, 16-week bootcamp program.  I completed the program and earned the title "Class Einstein" for my ability to make connections across technologies and practically apply these to my project work.
    .featured-wrapper
      h3#featured.text-center Featured Project:  Better Cash Flow
      .featured.text-center#better-cash-flow-logo
        img(src="/images/cashflow-logo.png" alt="BetterCashFlow logo")
      p Better Cash Flow enables small business owners to model cash or credit allocations against payables.  The goal is to help them make better use of financial resources and avoid the cash crunch that sinks so many small businesses.  This project grew out of a "Hack Big for Small Business" hackathon event sponsored by USBank, VISA, and Elavon in December 2017.
      p.text-center Click on the image below to watch a video highlighting its key feature -- instant feedback on the effect of cash or credit allocations.
      .featured-split.text-center
        .featured-split-video
          a(href="https://youtu.be/MWlJcrNcJJw" target="_blank") 
            img.text-center(src="/images/instant-feedback.png" alt="short video clip")
    h3#other-samples.text-center Other Sample Projects 
    .project.project-1
      img.img-fill(src="/images/BCFScreenshot.png")
      .overlay
        a(href="https://github.com/YankeeSoccerNut/BetterCashFlow" target="_blank") 
          img(src="/images/resizedOctocat.png" alt="access code on Github")
        a(href="http://bcf.scottandersononline.com" target="_blank") 
          h3 Better Cash Flow 
        p Technologies used: javascript, HTML, CSS, React/Redux, Passport (local and JWT), Express, mySQL
        p Favorite Features: Instant feedback as payments are entered or allocated, consistent application state across components (Navbar Summary, Analyzer, Time Series Chart) via Redux.
    .project.project-2
      img.img-fill(src="/images/resizedMeterMiserLocations.png")
      .overlay
        a(href="https://github.com/YankeeSoccerNut/MeterMiser_v2" target="_blank") 
          img(src="/images/resizedOctocat.png" alt="access code on Github")
        h3 meterMiser
        p Technologies used: javascript, HTML, CSS, Express, Google API, Honeywell API, Twilio API, mySQL
        p Favorite Features: real-time thermostat reading request via Honeywell API, use of Google boundaries to set zoom level, SMS messaging via Twilio
    .project.project-3
      img.img-fill(src="/images/tictactoe.png")
      .overlay
        a(href="https://github.com/YankeeSoccerNut/tictactoe" target="_blank") 
          img(src="/images/resizedOctocat.png" alt="access code on Github")
        a(href="http://tictactoe.scottandersononline.com" target="_blank") 
          h3 Tic Tac Toe 
        p Technologies used: HTML, javascript, CSS
        p Favorite Features:  nod to War Games, beginnings of computer 'intelligence' 
    .project.project-4
      img.img-fill(src="/images/spaceEvader.png")
      .overlay
        a(href="https://github.com/YankeeSoccerNut/spaceEvader" target="_blank") 
          img(src="/images/resizedOctocat.png" alt="access code on Github")
        a(href="https://www.youtube.com/watch?v=4AinK77hhKg" target="_blank")
          h3 spaceEvader on youTube
        p Technologies Used: Python, pygame
        p Favorite Features: multi-channel sound, Vader transistion to "hunted" on Yoda light saber collision
    .contact-wrapper.text-center
      .contact#contact
        h2 Get In Touch with Scott Anderson
        p You can reach me across a variety of social media.  Email or LinkedIn is best.  Checkout my GitHub account to see what I'm working now.  My current resume is also available for download.
        .contact-buttons
          a(href="mailto:sanderson30068@gmail.com")
            img.img-fluid.rise(src="images/email-grey.png" data-toggle="tooltip" title="Email")
          a(href="https://www.linkedin.com/in/scottandersonga/")
            img.img-fluid.rise(src="images/linkedIn-grey.png" data-toggle="tooltip" title="LinkedIN")
          a(href="https://github.com/YankeeSoccerNut")
            img.img-fluid.rise(src="images/github-grey.png" data-toggle="tooltip" title="GitHub")
          a(href="/scottanderson.pdf")
            img.img-fluid.rise(src="images/pdf-grey.png" data-toggle="tooltip" title="Resume")
