<div class="featured-split">
  <div class="featured-split-video">
    <iframe class="iframe-video" width="550" height="427" src="https://www.youtube.com/embed/0Ci2ssx67Fg?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
  </div>

  <div class="featured-split-code">
    <div class="cp_embed_wrapper"><iframe id="cp_embed_awoEXr" src="//codepen.io/juliemdyer/embed/awoEXr?height=427&amp;theme-id=28433&amp;slug-hash=awoEXr&amp;default-tab=js%2Cresult&amp;user=juliemdyer&amp;embed-version=2&amp;pen-title=MoneyMapper" scrolling="no" frameborder="0" height="427" allowtransparency="true" allowfullscreen="true" name="CodePen Embed" title="MoneyMapper" class="cp_embed_iframe " style="width: 100%; overflow: hidden;"></iframe></div>
    <script async="" src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  </div>

  <div class="clearfix"></div>
</div>
</div>
